@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-500.woff2);
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151; /* Tailwind gray-700 */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Tailwind gray-600 */
}